:root {
    --bg-primary: #0f172a;
    --bg-secondary: #293343;
    --bg-terciary: rgba(30, 41, 59, 0.6);
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --accent: #38bdf8;
    --accent-hover: #7dd8ff;
    --error: #ef4444;
    --border: #334155;

    font-size: medium;
}

body {
    background: radial-gradient(circle at top right, var(--bg-secondary), var(--bg-primary));
    color: var(--text-main);
    margin: 0;
    font-family: 'Inter', system-ui, sans-serif;
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow:
        0 0 8px rgb(from var(--accent) r g b / 0.3);
    transition: all 0.2s ease;
}

label {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    margin-top: .7rem;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: .8rem;
    background: var(--bg-primary);
    border: none;
    border-radius: 12px;
    color: var(--text-main);
}

.btn-primary {
    flex: 1;
    width: 100%;
    padding: 1rem 1.2rem;
    background: var(--accent);
    border: none;
    border-radius: 12px;
    font-weight: 700;
    color: var(--bg-primary);
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-primary:hover:not(:disabled),
.btn-primary:focus {
    filter: brightness(1.05);
    outline: none;
    box-shadow: 0 0px .8rem rgb(from var(--accent) r g b / 0.3);
}

button:hover:not(:disabled),
button:focus {
    outline: none;
    transform: translateY(-2px);
}

.btn-ghost {
    padding: 1rem 1.2rem;
    background: transparent;
    color: #94a3b8;
    border: 1px solid #334155;
    border-radius: 12px;
    cursor: pointer;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}